body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    background-color: #f4f4f4;
    color: black;
}
header{
    background-color: #4caf50;
    color: black;
    padding: 5px 0;
    font-size: 10px;
    text-align: center;
}
.barra_navegacion{
    margin-left: 200px;
    margin-right: 200px ;
    height: 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 20px;
    border-bottom: 2px solid black;
    box-shadow: 0px 2px 0px 0px black;
}
.titulo{
    font-size: 50px ;
    font-weight: bold;
    display: flex;
} 
.color1{
    color: #018805;
    font-weight: bold;
}
.color2{
    color: #00c807;
    font-weight: bold;
}
.color3{
    color: #448a46;
    font-weight: bold;

}
.adoptado{
    background-color: #274E13;
}
.menu {
    display: flex;
    gap: 20px;
}
.boton1{
    width: 120px ;
    height: 52px;
    background-color: #0343006e;
    font-size: 30px;
    
    box-shadow: 3px 3px 0px 0px rgb(0, 0, 0);
    cursor: pointer;
}
.boton2 {
     width: 120px;
     height: 52px;
     background-color: #448a46 ;
     color: white;
     font-size: 30px;
     box-shadow: 3px 3px 0px 0px rgb(0, 0, 0);
}
.Mostrando  {
   margin-left: 200px;
    color: black;
    padding: 9px 0;
    font-size: 30px;
    font-weight: 550;
    display: flex;
}
.selector {
     display: flex;
}
.select {
    border: #000000 3px solid;
    margin-top: 10px;
    width: 200px;
    height: 35px;
    margin-left: 417px;
   
}
.contenido-hizquierda {
    color: black;
    float: left;

}
.contenido-derecha {
    float: right;
}

.boton-adoptar, .boton-adoptar1 , .boton-adoptar2 , .boton-adoptar3{
    height: 40px;
    padding: 10px 20px;
    font-weight: bold;
    box-shadow: 2px 2px 0px 0px black;
    cursor: pointer;
    background-color: #B6D7A8;
}
.adoptado {
    background-color: #274E13;
}
.cuadro-arbol {
    width: 430px;
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px;
    padding: 20px;
    border-radius: 20px;
    background-color: #e4e4e4;
    gap: 20px;  
}
.contenido-arboles {
    display: flex;
    margin-left: 150px;
    
}

.planta {
    width: 200px;
    height: 150px;
    object-fit: cover;    /* Recorta imagen manteniendo proporción */
    border: 3px solid #000000;
}
.abajo {
    display: flex;
    background-color: #4caf50;
    color: rgb(0, 0, 0);
    text-align: center;
    
}
.pie {
flex:1 ;
font-weight: 600;
}
.pie2 {
    flex: 2;
    

}

.pie3 {
    flex:1;
}
ul {
list-style: none;
column-count: 2;
column-gap: 70px;
margin-top: 50px;
text-align: start;
font-weight: 700;
}
li {
  padding: 10px;
}
.correo {
    width: 250px;
    height: 30px;
    font-size: 16px;
    border: #000000 3px solid;
}
h3 {
    color: white;
    font-size: 30px;
    font-family: 'Courier New', Courier, monospace;
}
.boton-enviar {

    
    background-color: #0343006e;
    font-size: 15px;
    
    box-shadow: 3px 3px 0px 0px rgb(0, 0, 0);
    cursor: pointer;
}